/* CSS Styling - Logical Grouping */
/*
** 1. Layout / Positioning
** (display, position, top/right/bottom/left, z-index, float, clear)
** (grid-template-columns, grid-column, grid-area, flex, align-items)
**
** 2. Box Model
** (width, height, padding, margin, box-sizing, overflow)
**
** 3. Typography
** (font-family, font-size, font-weight, line-height, letter-spacing, text-align, white-space)
**
** 4. Visual Styles
** (color, background, border, box-shadow, opacity)
**
** 5. Miscellaneous
** (transition, animation, cursor, pointer-events, transform)
**
*/

html {
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
  font-family: "Noto Sans", sans-serif;
}

body {
  margin-right: 10rem;
  margin-left: 10rem;
  color: hsl(0, 0%, 78%);
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  color: hsl(200, 60%, 99%);
}

button {
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;

  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid hsl(225, 23%, 24%);
  border-radius: 1rem;
  background-color: hsl(226, 25%, 17%);
  color: hsl(0, 0%, 78%);
}

.filter-btn {
  background-color: white;
}

/* Header */
header {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: hsl(226, 25%, 17%);
  font-weight: bold;
  color: hsl(200, 60%, 99%);
}

/* Menu */
.menu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

.menu button:focus {
  border: 1px solid hsl(225, 23%, 24%);
  background-color: hsl(3, 71%, 56%);
  color: hsl(227, 75%, 14%);
}

.filters {
  margin-left: auto;
}

/* Attribution */
.attribution {
  margin: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.extension-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid hsl(225, 23%, 24%);
  border-radius: 20px;
  background-color: hsl(226, 25%, 17%);
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
}

/* Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 4px;
  /* transform: translateY(1); */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(3, 71%, 56%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translate(20px, -1px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Mobile View */
@media only screen and (max-width: 1200px) {
  body {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .filters {
    margin: auto;
  }

  .container {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
}
